---
import Layout from '@layouts/Layout.astro';
import Header from '@components/layout/Header.astro';
import Footer from '@components/layout/Footer.astro';
---

<Layout title="About" description="소개">
  <Header />
  <main class="flex-1 py-8 sm:py-12">
    <article class="markdown">
      <h1>About</h1>

      <p>
        평소에는 몰입하는 즐거움에 빠져 삽니다.
        <br />
        제 흔적이 누군가의 삶에서 작게나마 울림이 되기를 바랍니다.
        <br />
        극작과 컴퓨터과학을 전공했습니다.
      </p>

      <h2>Contact</h2>
      <ul>
        <li>
          <a href="https://linkedin.com/in/김경섭" target="_blank" rel="noopener noreferrer">
            LinkedIn
          </a>
        </li>
        <li>
          <a href="https://github.com/kyungseopk1m" target="_blank" rel="noopener noreferrer">
            GitHub
          </a>
        </li>
        <li>
          <a href="mailto:bask.keem@gmail.com">
            bask.keem@gmail.com
          </a>
        </li>
        <li>
          <a href="https://blog.naver.com/kxxseop" target="_blank" rel="noopener noreferrer">
            <span class="text-slate-500 dark:text-zinc-600">Blog (deprecated)</span>
          </a>
        </li>
      </ul>
    </article>
  </main>
  <Footer showRss={true} />
</Layout>
